{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<form method="POST" style="margin: 10px; padding: 5px;">
    <legend>Add A Customer</legend> <hr>
    {% csrf_token %}
    <div class="row">
      <div class="col-5">
        {{ form.first_name|as_crispy_field }}
      </div>
      <div class="col-5">
        {{ form.second_name|as_crispy_field }}
      </div>
      <div class="col-2">
        {{ form.age|as_crispy_field }}
      </div>
    </div>
    <div class="row">
        <div class="col-4">
          {{ form.gender|as_crispy_field }}
        </div>
        <div class="col-4">
            {{ form.email|as_crispy_field }}
          </div>
          <div class="col-4">
            {{ form.phone|as_crispy_field }}
          </div>
      </div>
      <div class="row">
        <div class="col-12">
          {{ form.adress|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          {{ form.county|as_crispy_field }}
        </div>
        <div class="col-6">
          {{ form.town|as_crispy_field }}
        </div>
      </div>
    <button type="submit" class="btn btn-success" style="float: right;">Save Customer</button>
  </form>
  <br>
{% endblock %}