{% extends 'base.html' %}
{% load static %}

{% block content %}

  <legend style="margin: 10px; padding: 5px; color: black;">Medicines
    <a href="{% url 'add_medicine' %}">
      <button type="submit" class="btn btn-success" style="float: right;">
        <i class="fas fa-plus"> Add Medicines</i>
      </button></a>
  </legend>
  <hr>
  <form method="get">
    {{ myFilter.form }}
    <button class="btn btn-dark rounded" type="submit">Search</button>
  </form><br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Generic Name</th>
        <th scope="col">Category</th>
        <th scope="col">Manufacturer</th>
        <th scope="col">Shelf</th>
        <th scope="col">Price</th>
        <th scope="col">Manufacturer Price</th>
        <th scope="col">Strength</th>   
        <th scope="col">Image</th>
      </tr>
    </thead>
    
    <tbody>
        {% for medicine in page_obj %}
      <tr>
       
        <th scope="row"1></th>
        <td>{{medicine.name}}</td>
        <td>{{medicine.generic_name}}</td>
        <td>{{medicine.category}}</td>
        <td>{{medicine.manufacturer}}</td>
        <td>{{medicine.shelf}}</td>
        <td>{{medicine.price}}</td>
        <td>{{medicine.manufacturer_price}}</td>
        <td>{{medicine.strength}}</td>
        <td><img src={{medicine.imageURL}} style="height:30px; width:25px;"></td>
      
      </tr>
      {% endfor %}
    </tbody>
   
  </table>
  <div class="text-center container mt-5">
    {% if page_obj.has_previous %}
      <a href="?page={{page_obj.previos_page_number}}"><button type="button" class="btn btn-light">previous</button></a>
    {% endif %}

    <a><button type="button" class="btn btn-success">{{page_obj.number}}</button></a>

    {% if customer_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}"><button type="button" class="btn btn-light">next</button></a>
    {% endif %}

  </div>
{% endblock content%}