{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<form method="POST" style="margin: 10px; padding: 5px;">
  <legend>Add Medicine</legend>
  <hr>
  {% csrf_token %}
  <div class="row">
    <div class="col-6">
      {{ form.name|as_crispy_field }}
    </div>
    <div class="col-6">
      {{ form.generic_name|as_crispy_field }}
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      {{ form.category|as_crispy_field }}
    </div>
    <div class="col-6">
      {{ form.manufacturer|as_crispy_field }}
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      {{ form.price|as_crispy_field }}
    </div>
    <div class="col-6">
      {{ form.manufacturer_price|as_crispy_field }}
    </div>

  </div>
  <div class="row">
    <div class="col-6">
      {{ form.strength|as_crispy_field }}
    </div>
    <div class="col-6">
      {{ form.shelf|as_crispy_field }}
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      {{form.image|as_crispy_field}}
    </div>
  </div>
  <button type="submit" class="btn btn-success" style="float: right;">Add Medicine</button>
</form>
<br>
{% endblock %}