{% extends 'base.html' %}
{% load static %}

{% block content %}
<legend style="margin: 10px; padding: 5px; color: black;">Invoice List
  <a href="{% url 'add_invoice' %}">
  <button type="submit" class="btn btn-success" style="float: right;">
    <i class="fas fa-plus"> Add Invoice</i>
</button></a>
</legend>
<form method="get">
  {{ myFilter.form }}
  <button class="btn btn-dark rounded" type="submit">Search</button>
</form><br>
<table class="table table-striped">

    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Invoice No</th>
        <th scope="col">Invoice Id</th>
        <th scope="col">Customer</th>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    
    <tbody>
        {% for invoice in page_obj %}
      <tr>
       
        <th scope="row"1></th>
        <td>{{invoice.invoice_no}}</td>
        <td>{{invoice.invoice_id}}</td>
        <td>{{invoice.customer}}</td>
        <td>{{invoice.date_created}}</td>
        <td>{{invoice.Total}}</td>
        <td>{{invoice.status}}</td>
      
      </tr>
      {% endfor %}
    </tbody>
   
  </table>
  <div class="text-center container mt-5">
    {% if page_obj.has_previous %}
      <a href="?page={{page_obj.previos_page_number}}"><button type="button" class="btn btn-light">previous</button></a>
    {% endif %}

    <a><button type="button" class="btn btn-success">{{page_obj.number}}</button></a>

    {% if customer_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}"><button type="button" class="btn btn-light">next</button></a>
    {% endif %}

  </div>
{% endblock content%}