{% extends 'base.html' %}
{% load static %}

{% block content %}
<legend style="margin: 10px; padding: 5px; color: black;">Manufacturers
  <a href="{% url 'add_manufacturer' %}">
    <button type="submit" class="btn btn-success" style="float: right;">
      <i class="fas fa-plus"> Add Manufacturer </i>
    </button></a>
</legend>
<hr>
<form method="get">
  {{ myFilter.form }}
  <button class="btn btn-dark rounded" type="submit">Search</button>
</form><br>
<table class="table table-striped">

    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Town</th>
        <th scope="col">County</th>
        <th scope="col">Balance</th>   
      </tr>
    </thead>
    
    <tbody>
    
    <tbody>
        {% for manufacturer in page_obj %}
      <tr>
       
        <th scope="row"1></th>
        <td>{{manufacturer.name}}</td>
        <td>{{manufacturer.phone}}</td>
        <td>{{manufacturer.email}}</td>
        <td>{{manufacturer.adress}}</td>
        <td>{{manufacturer.town}}</td>
        <td>{{manufacturer.county}}</td>
        <td>{{manufacturer.balance}}</td>
      
      </tr>
      {% endfor %}
    </tbody>
   
  </table>
  <div class="text-center container mt-5">
    {% if page_obj.has_previous %}
      <a href="?page={{page_obj.previos_page_number}}"><button type="button" class="btn btn-light">previous</button></a>
    {% endif %}

    <a><button type="button" class="btn btn-success">{{page_obj.number}}</button></a>

    {% if customer_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}"><button type="button" class="btn btn-light">next</button></a>
    {% endif %}

  </div>
{% endblock content %}
